footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: inherit;
}
header {
    text-align: center;
    font-family: serif;
    margin: 0;
    align-items: flex-start;
    background-color: #D3C5E5;
    border-bottom-left-radius: -20px;
    border-bottom-right-radius: -20px;
    padding-bottom: 20px;
}

header.header-positive {
    background-color: #2C5F2D;
}

header.header-neutral {
    background-color: #20948B;
}

header.header-negative {
    background-color: yellow;
    color: black;
}

/* Body theme colors */
body.body-positive {
    background-color: #97BC62;
    color: black;
}

body.body-neutral {
    background-color: #c5b8b9;
    color: rgb(0, 0, 0);
}

body.body-negative {
    background-color: black;
    color: white;
}

/* Image styling */
#theme-image {
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
    display: block;
}


h3 {
    text-align: center;
    font-family: cursive;
    margin: 0;
    align-items: flex-start; 
}

body {
    background-color: #735DA5; /* Original background color */
}

body.body-positive {
    background-color: rgb(76, 122, 76);
    color: black; /* Positive theme background */
}

body.body-neutral {
    background-color: pastel pink;
    color: rgb(0, 0, 0); /* Neutral theme background */
}

body.body-negative {
    background-color: black;
    color: white; /* Negative theme background */
}


* {/* Resetting global styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {/* Container for the input and button */
    text-align: left;
    width: 450px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#question-input {/* Input box styling */
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    background-color: i;
    border-radius: 4px;
    margin-bottom: 10px;
}


#submit-btn {/* Button styling */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#submit-btn:hover {
    background-color: #0056b3;
}

#history-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    max-width: 300px;
    padding: 20px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    z-index: 100;
    overflow-y: auto;
    max-height: 250px;
}


#response {/* Response text styling */
    margin-top: 20px;
    font-size: 20px;
    color: inherit;

}


#answer-output {/* answer-output styling */
    display: flex;
    position: center ;
    bottom: 20%;
    font-size: 18px;
    color: inherit;
    padding-top: 10px;
    
}
